.content {
    background: #131316;
    max-width: 1280px;
    justify-content: center;
    column-gap: 40px; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
.box {
    height: 390px;
    width: 480px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    column-gap: 100px;
    flex-flow:  wrap;
    justify-content: center;
}  

.ref {
    text-decoration: none;
}

.form {
    row-gap: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}