.BurgerIngredients {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    height: 80vh;
    max-height: 920px;
}

.BurgerIngredientsContainer {
    overflow-y: scroll;
    overflow:scroll;
    overflow-x:hidden;
}

.BurgerIngredientsContainer::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #2F2F37;
    height:300px;
}

/* ползунок скроллбара */
.BurgerIngredientsContainer::-webkit-scrollbar-thumb {
    background-color: #8585AD;;

}

.BurgerIngredientsItemList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    text-align: center;
    width: 600px;
}

.IngredientsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 568px;
}

.error {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading {
    display: flex;
    margin-left: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}