.card {
    height: 200px;
    width: 272px;
    
   
}

.img {
    width: 240px;
    height: 120px;
    position: relative;
    
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.textCard {
    
    width: 272px;
    height: 48px;
    text-align: center;
}

.price {
    text-align: center;
    justify-content: center;
}  


.line {
    display: flex;
}

.counter { 
    left: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #4C4CFF;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.text {
    align-items: center;
    text-align: center;
}