.box {
    display: flex;
    width: 640px;
    height: 64px;
    justify-content: space-between;
}

.icons{
    display: flex;
    align-items: center;
    
}

.text {
    display: flex;
    align-items: center;
}

.icons1 {
    
    justify-content: right;
    display: flex;
}

.butt {
    text-decoration: none;
}