.content {
    background: #131316;
    max-width: 1280px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 60px;
    row-gap: 20px;
  }

.FeedsIngredients {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    height: 75vh;
    max-height: 920px;
}


.text {
  margin-top: 40px;
  width: 1280px;
  height: 40px;
}

.FeedsIngredientsContainer {
  overflow-y: scroll;
  overflow: scroll;
  overflow-x:hidden;
}

.FeedsIngredientsContainer::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  background-color: #2F2F37;
  height:300px;
}

/* ползунок скроллбара */
.FeedsIngredientsContainer::-webkit-scrollbar-thumb {
  background-color: #8585AD;;

}

.order {
  height: 626px;
  width: 580px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 36px;
  align-items: center;
 
}

.success {
  width: 272px;
  height: 206px;
}

.inwork {
  width: 272px;
  height: 206px;
}

.numbers {
  width: 272px;
  height: 154px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
}

.gotIt {
  height: 30px;
  width: 580px;
}

.gotIt2 {
  display: flex;
  align-items: center;
  height: 120px;
  width: 580px;
}

.successGotIt {
  width: 580px;
  height: 150px;
}

.shadow { 
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.loading {
  display: flex;
  margin-left: 220px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}