.box {
    width: 600px;
    height: 912px;
   
}

.borderActiveWithBun {
    border-width: medium;
    border-style: dashed;
    border-color: green;
}

.borderWithBun {
    border-width: medium;
    border-style: dashed;
    border-color: #131316;
}

.borderActive {
    border-width: medium;
    border-style: dashed;
    border-color: green;
}

.border {
    border-width: medium;
    border-style: dashed;
    border-color: #131316;
}

.scroll{
    border: 2px #FFFFFF;
    height:464px;
    overflow:scroll;
    overflow-x:hidden;
}



.scroll::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #2F2F37;
    height:300px;
}

/* ползунок скроллбара */
.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;;

}

.icon svg{
    width: 33px;
    height: 33px;
}



.blockPrice {
    height: 64px;
    justify-content: right;
    display: flex;
    align-items: center;
}
 
.constructorPole  {
    
    display: flex;  
    flex-direction: column;
    gap: 10px;
}

.please {
    height: 80px;
    width: 536px;
    border-width: medium;
    border-style: dashed;
    border-color: #8585AD;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.please2 {
    height: 80px;
    width: 536px;
    border-width: medium;
    border-style: dashed;
    border-color: green;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightgreen{
    border: 1px green;
}